# PySpark

In [1]:
# импорты
from pyspark.sql import SparkSession

from pyspark.sql import functions as F # типо Functions
from pyspark.sql import types as T # типо Types

from pyspark.sql.window import Window
from pyspark.sql.types import IntegerType, FloatType

## Основные операции

В данном блокноте будем работать с датасетом:
* Titanic Huge Dataset - 1M Passengersc: https://www.kaggle.com/datasets/marcpaulo/titanic-huge-dataset-1m-passengers

скачиваем файл `huge_1M_titanic.csv` и кладем в удобное место

In [2]:
# Инициализация SparkSession
spark = SparkSession.builder.getOrCreate()
spark

### Создание DataFrame для источника данных

В pandas мы бы просто считали **.csv** файл как DataFrame и работали с ним.

Но тут определяется DataFrame для источника данных, источником является **.csv** файл `huge_1M_titanic.csv`

In [3]:
df = spark.read.csv('./data/huge_1M_titanic.csv', header=True, inferSchema=False) 

# inferSchema=True - прочитать файл целиком, чтобы определить типы колонок 
# файлы могут быть очень большие

In [ ]:
# При чтении определении DataFrame к источнику можно задать схему самостоятельно
# Пример:
# schema = T.StructType([
#     T.StructField("PassengerId", T.IntegerType(), True),
#     T.StructField("Name", T.StringType(), True),
# ])

# df = spark.read.csv("file.csv", header=True, schema=schema)

In [4]:
# Посмотреть план источника данных
# схема, путь до данных и другие характеристики 
df.explain()

== Physical Plan ==
FileScan csv [PassengerId#17,Survived#18,Pclass#19,Name#20,Sex#21,Age#22,SibSp#23,Parch#24,Ticket#25,Fare#26,Cabin#27,Embarked#28] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/c:/dev/mlRes/BigDataTech/seminars/sem_1/data/huge_1M_titanic.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<PassengerId:string,Survived:string,Pclass:string,Name:string,Sex:string,Age:string,SibSp:s...

In [5]:
# Кол-во партиций (фрагментов изначальных данных)
# Каждая партиция будет обрабатываться отдельным ядром 


# В данном примере файл `huge_1M_titanic.csv` разбит на 12 партиций (фрагментов)
df.rdd.getNumPartitions()

12

In [6]:
# Определить количество строк к df
print(df.count())

# Определить колонки df
print(df.columns)

# Определить схему df
df.printSchema()

1000000
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

### Функция `.show()`

In [7]:
# Вывести первые 5 строк df
df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|              Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+
|       1310|       1|     1|Name1310, Miss. S...|female|NULL|    0|    0|SOTON/O2 3101272| 76.76016504643573| NULL|       C|
|       1311|       0|     3|Name1311, Col. Su...|  male|29.0|    0|    0|          223596|10.193096706320182| NULL|       S|
|       1312|       0|     3|Name1312, Mr. Sur...|  male|20.0|    0|    0|           54636| 12.02941641147422|  C83|       C|
|       1313|       0|     3|Name1313, Mr. Sur...|  male|27.0|    0|    0|        PC 17760|13.429447862759872| NULL|       S|
|       1314|       0|     3|Name1314, Mr. Sur...|  male|32.0|    0|    0|          364512| 4.840769450167068|  E33|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+
only showing top 5 rows

In [87]:
# Позволяет делать вертикальный вывод, если строки слишком большие
df.show(5, vertical=True)

-RECORD 0---------------------------
 PassengerId | 1310
 Survived    | 1
 Pclass      | 1
 Name        | Name1310, Miss. S...
 Sex         | female
 Age         | NULL
 SibSp       | 0
 Parch       | 0
 Ticket      | SOTON/O2 3101272
 Fare        | 76.76016504643573
 Cabin       | NULL
 Embarked    | C
-RECORD 1---------------------------
 PassengerId | 1311
 Survived    | 0
 Pclass      | 3
 Name        | Name1311, Col. Su...
 Sex         | male
 Age         | 29.0
 SibSp       | 0
 Parch       | 0
 Ticket      | 223596
 Fare        | 10.193096706320182
 Cabin       | NULL
 Embarked    | S
-RECORD 2---------------------------
 PassengerId | 1312
 Survived    | 0
 Pclass      | 3
 Name        | Name1312, Mr. Sur...
 Sex         | male
 Age         | 20.0
 SibSp       | 0
 Parch       | 0
 Ticket      | 54636
 Fare        | 12.02941641147422
 Cabin       | C83
 Embarked    | C
-RECORD 3---------------------------
 PassengerId | 1313
 Survived    | 0
 Pclass      | 3
 Name        | Name1313, Mr. Sur...
 Sex         | male
 Age         | 27.0
 SibSp       | 0
 Parch       | 0
 Ticket      | PC 17760
 Fare        | 13.429447862759872
 Cabin       | NULL
 Embarked    | S
-RECORD 4---------------------------
 PassengerId | 1314
 Survived    | 0
 Pclass      | 3
 Name        | Name1314, Mr. Sur...
 Sex         | male
 Age         | 32.0
 SibSp       | 0
 Parch       | 0
 Ticket      | 364512
 Fare        | 4.840769450167068
 Cabin       | E33
 Embarked    | C
only showing top 5 rows

### Функция `.select()`

In [8]:
# Вызывается у набора данных, в нашем случае у df

# Получить все столбцы
df.select("*").show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|              Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+
|       1310|       1|     1|Name1310, Miss. S...|female|NULL|    0|    0|SOTON/O2 3101272| 76.76016504643573| NULL|       C|
|       1311|       0|     3|Name1311, Col. Su...|  male|29.0|    0|    0|          223596|10.193096706320182| NULL|       S|
|       1312|       0|     3|Name1312, Mr. Sur...|  male|20.0|    0|    0|           54636| 12.02941641147422|  C83|       C|
|       1313|       0|     3|Name1313, Mr. Sur...|  male|27.0|    0|    0|        PC 17760|13.429447862759872| NULL|       S|
|       1314|       0|     3|Name1314, Mr. Sur...|  male|32.0|    0|    0|          364512| 4.840769450167068|  E33|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+
only showing top 5 rows

Если не вызывать `show()`, то будет просто построен план вычисления, но оно не будет выполнено

In [13]:
df.select(df.Age) # То есть на данном этапе DataFrame, как результата выполнения df.select(df.Age) еще нет, есть только план для его вычисления

DataFrame[Age: double]

Когда будет вызвана любая из функций: `.count()`, `.collect()`, `.show()`, функции агрегации - будет получен DataFrame

In [9]:
# Передавать конкретные имена колонок
df.select("Age", "Survived", "Pclass").show(5)

+----+--------+------+
| Age|Survived|Pclass|
+----+--------+------+
|NULL|       1|     1|
|29.0|       0|     3|
|20.0|       0|     3|
|27.0|       0|     3|
|32.0|       0|     3|
+----+--------+------+
only showing top 5 rows

In [26]:
# Обращаться к колонкам можно как к полю объекта (через точку): df.Age
print(df.Age)

df.select(df.Age, df.Pclass).show(5)

Column<'Age'>
+----+------+
| Age|Pclass|
+----+------+
|NULL|     1|
|29.0|     3|
|20.0|     3|
|27.0|     3|
|32.0|     3|
+----+------+
only showing top 5 rows

In [ ]:
df.select(F.col('Age')).show(5)

+----+
| Age|
+----+
|NULL|
|29.0|
|20.0|
|27.0|
|32.0|
+----+
only showing top 5 rows

In [ ]:
# Можно сразу применять различные трансформации к колонкам внутри .select()
df.select(df.Name, F.upper(df.Name), df.Age, df.Age + 10).show(5)

+--------------------+--------------------+----+----------+
|                Name|         upper(Name)| Age|(Age + 10)|
+--------------------+--------------------+----+----------+
|Name1310, Miss. S...|NAME1310, MISS. S...|NULL|      NULL|
|Name1311, Col. Su...|NAME1311, COL. SU...|29.0|      39.0|
|Name1312, Mr. Sur...|NAME1312, MR. SUR...|20.0|      30.0|
|Name1313, Mr. Sur...|NAME1313, MR. SUR...|27.0|      37.0|
|Name1314, Mr. Sur...|NAME1314, MR. SUR...|32.0|      42.0|
+--------------------+--------------------+----+----------+
only showing top 5 rows

In [29]:
df.select("*", df.Name).show(5) # Можно заметить что колонка Name присутствует 2 раза

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+--------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|              Fare|Cabin|Embarked|                Name|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+--------------------+
|       1310|       1|     1|Name1310, Miss. S...|female|NULL|    0|    0|SOTON/O2 3101272| 76.76016504643573| NULL|       C|Name1310, Miss. S...|
|       1311|       0|     3|Name1311, Col. Su...|  male|29.0|    0|    0|          223596|10.193096706320182| NULL|       S|Name1311, Col. Su...|
|       1312|       0|     3|Name1312, Mr. Sur...|  male|20.0|    0|    0|           54636| 12.02941641147422|  C83|       C|Name1312, Mr. Sur...|
|       1313|       0|     3|Name1313, Mr. Sur...|  male|27.0|    0|    0|        PC 17760|13.429447862759872| NULL|       S|Name1313, Mr. Sur...|
|       1314|       0|     3|Name1314, Mr. Sur...|  male|32.0|    0|    0|          364512| 4.840769450167068|  E33|       C|Name1314, Mr. Sur...|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+--------------------+
only showing top 5 rows

In [ ]:
# Передавать множество выражений, например:
df.select(df.Age > 25, F.isnull(df.Age), F.isnotnull(df.Age), df.Age.between(25, 30)).show(10)

# Можно заметить, что это не выборка по нескольким условиям, это выбор всего, но к каждой строке применяются все переданные выражения,
# получаем DataFrame с bool значениями

+----------+-------------+-----------------+-----------------------------+
|(Age > 25)|(Age IS NULL)|(Age IS NOT NULL)|((Age >= 25) AND (Age <= 30))|
+----------+-------------+-----------------+-----------------------------+
|      NULL|         true|            false|                         NULL|
|      true|        false|             true|                         true|
|     false|        false|             true|                        false|
|      true|        false|             true|                         true|
|      true|        false|             true|                        false|
|     false|        false|             true|                        false|
|      NULL|         true|            false|                         NULL|
|      true|        false|             true|                         true|
|      NULL|         true|            false|                         NULL|
|      true|        false|             true|                        false|
+----------+-------------+-----------------+-----------------------------+
only showing top 10 rows

### Функция `.filter()` and `.where()`

Для выбора строк по условию необходимо использовать функцию `.filter()`

`.where()` является алиасом для `.filter()`

`.filter()` также как и `.select()` строит план вычисления, DF получается только после вызова соответствующих функций

In [38]:
df_filter_one = df.filter(df.Survived == 1)
df_filter_one

DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: double, SibSp: int, Parch: int, Ticket: string, Fare: double, Cabin: string, Embarked: string]

In [39]:
df_filter_one.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|              Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----------+--------+
|       1310|       1|     1|Name1310, Miss. S...|female|NULL|    0|    0|SOTON/O2 3101272| 76.76016504643573|       NULL|       C|
|       1315|       1|     3|Name1315, Master....|female| 0.0|    0|    0|           29750|14.805817148933464|       NULL|       S|
|       1317|       1|     2|Name1317, Miss. S...|female|28.0|    0|    1|          113781|27.950047997073444|       NULL|       S|
|       1320|       1|     3|Name1320, Miss. S...|female|23.0|    1|    0|            7534|20.822545765670117|       NULL|       S|
|       1322|       1|     3|Name1322, Miss. S...|female|NULL|    1|    0|     S.O./P.P. 3|12.462809150380991|       NULL|       S|
|       1323|       1|     1|Name1323, Mr. Sur...|  male|52.0|    0|    0|      A.5. 18509| 36.84335154107275|        E25|       S|
|       1327|       1|     2|Name1327, Master....|female| 4.0|    0|    2|      A/5. 10482| 26.71240152233816|       NULL|       S|
|       1336|       1|     2|Name1336, Mrs. Su...|female|28.0|    0|    0|          237668|19.973016819809665|       NULL|       S|
|       1338|       1|     3|Name1338, Miss. S...|female|NULL|    0|    0|          231945|6.5779501735234485|       NULL|       C|
|       1341|       1|     1|Name1341, Mrs. Su...|female|26.0|    1|    0|            2691| 51.32840021424485|C23 C25 C27|       S|
|       1343|       1|     1|Name1343, Mrs. Su...|female|NULL|    1|    0|      A/4. 39886| 68.06574759847447|       NULL|       S|
|       1345|       1|     1|Name1345, Miss. S...|female|NULL|    0|    0|            5727|               0.0|       NULL|       C|
|       1347|       1|     3|Name1347, Miss. S...|female|21.0|    0|    0|          230080|10.983373624020569|       NULL|       Q|
|       1349|       1|     2|Name1349, Miss. S...|female|30.0|    1|    0|      C.A. 33595| 18.92347285610561|        E77|       C|
|       1350|       1|     3|Name1350, Miss. S...|female|25.0|    0|    0|          364512| 14.88584271640725|       NULL|       Q|
|       1354|       1|     1|Name1354, Master....|female| 9.0|    0|    0|          382652| 53.80746354927432|         F4|       S|
|       1357|       1|     3|Name1357, Master....|female| 0.0|    2|    1|          364511|18.502999062647305|       NULL|       C|
|       1362|       1|     1|Name1362, Mr. Sur...|  male|56.0|    1|    0|          382652| 50.08934734350119|       NULL|       S|
|       1365|       1|     3|Name1365, Mrs. Su...|female|19.0|    0|    2|      W./C. 6607|18.968328786471943|       NULL|       S|
|       1369|       1|     3|Name1369, Master....|female| 4.0|    2|    1|          349248|14.744513574618756|       NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----------+--------+
only showing top 20 rows

In [44]:
# Получается, что когда мы обращаемся к df_filter_one для вызова какой-либо функции, по построенному плану вычислений собирается DataFrame
print(df_filter_one.count())

df_filter_one.show(2)

381681
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|              Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+
|       1310|       1|     1|Name1310, Miss. S...|female|NULL|    0|    0|SOTON/O2 3101272| 76.76016504643573| NULL|       C|
|       1315|       1|     3|Name1315, Master....|female| 0.0|    0|    0|           29750|14.805817148933464| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+
only showing top 2 rows

In [ ]:
# Если мы примерно оцениваем объем данных и понимаем, что они смогут поместиться к нам в память драйвера, можно конвертировать в pandas DataFrame и работать с ним

# Теперь в result_pdf будет находится DataFrame pandas
result_pdf = df_filter_one.toPandas()

In [81]:
del result_pdf

In [59]:
# Можно заметить разницу в Wall time для выполнения функции count() у pandas и PySpark
print("Pandas time:")
%time result_pdf.count()

print("\nPySpark time:")
%time df_filter_one.count()

Pandas time:
CPU times: total: 62.5 ms
Wall time: 62.9 ms

PySpark time:
CPU times: total: 0 ns
Wall time: 300 ms

381681

In [64]:
# Также можно выполнять фильтрацию по нескольким условиям
# "&" - и, "|" - или
df_filter_two = df.filter((df.Age > 30) & (df.Survived == 1))
df_filter_two.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------+-----------------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket|             Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-----------------+-----+--------+
|       1323|       1|     1|Name1323, Mr. Sur...|  male|52.0|    0|    0|A.5. 18509|36.84335154107275|  E25|       S|
|       1362|       1|     1|Name1362, Mr. Sur...|  male|56.0|    1|    0|    382652|50.08934734350119| NULL|       S|
|       1376|       1|     2|Name1376, Mrs. Su...|female|36.0|    0|    0|    347088|16.68499978990871| NULL|       S|
|       1384|       1|     1|Name1384, Mrs. Su...|female|35.0|    0|    1|    226875|              0.0| NULL|       C|
|       1389|       1|     1|Name1389, Mr. Sur...|  male|33.0|    0|    0|C.A. 29178|33.66723594458008|  A10|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-----------------+-----+--------+
only showing top 5 rows

`.where()` выполняется аналогично `.filter()`

### Объединение выбора и фильтрации

In [72]:
# Например, мы хотим сделать выбор строк по условию
df.filter(df.Age == 29).select(df.Age, "Name").show(5)

+----+--------------------+
| Age|                Name|
+----+--------------------+
|29.0|Name1311, Col. Su...|
|29.0|Name1325, Mr. Sur...|
|29.0|Name1469, Miss. S...|
|29.0|Name1555, Mrs. Su...|
|29.0|Name1556, Mr. Sur...|
+----+--------------------+
only showing top 5 rows

### Еще функции `.collect()`, `.take()`, `.toPandas()`

* `.collect()` - получает список строк
* `.take()` - получает заданное число строк
* `.toPandas()` - формирует pandas DataFrame от полученных данных

In [83]:
# Строим план вычислений
filter_df_one = df.filter(df.Survived == 0)

%time result_rows = filter_df_one.collect()

CPU times: total: 3.19 s
Wall time: 6.39 s

In [84]:
print(len(result_rows))
print(result_rows[0])

del result_rows

618319
Row(PassengerId=1311, Survived=0, Pclass=3, Name='Name1311, Col. Surname1311', Sex='male', Age=29.0, SibSp=0, Parch=0, Ticket='223596', Fare=10.193096706320182, Cabin=None, Embarked='S')

In [85]:
result_rows_2 = filter_df_one.take(10)
print(len(result_rows_2))
result_rows_2[:2]

10

[Row(PassengerId=1311, Survived=0, Pclass=3, Name='Name1311, Col. Surname1311', Sex='male', Age=29.0, SibSp=0, Parch=0, Ticket='223596', Fare=10.193096706320182, Cabin=None, Embarked='S'),
 Row(PassengerId=1312, Survived=0, Pclass=3, Name='Name1312, Mr. Surname1312', Sex='male', Age=20.0, SibSp=0, Parch=0, Ticket='54636', Fare=12.02941641147422, Cabin='C83', Embarked='C')]

## Способы создания DataFrame'ов

Подробней прочитать можно: [тут](https://spark.apache.org/docs/latest/api/python/getting_started/quickstart_df.html#DataFrame-Creation)

### Добавление нового столбца

In [11]:
df.withColumn("FamilySize", df.Parch + df.SibSp).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|              Fare|Cabin|Embarked|FamilySize|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+----------+
|       1310|       1|     1|Name1310, Miss. S...|female|NULL|    0|    0|SOTON/O2 3101272| 76.76016504643573| NULL|       C|         0|
|       1311|       0|     3|Name1311, Col. Su...|  male|29.0|    0|    0|          223596|10.193096706320182| NULL|       S|         0|
|       1312|       0|     3|Name1312, Mr. Sur...|  male|20.0|    0|    0|           54636| 12.02941641147422|  C83|       C|         0|
|       1313|       0|     3|Name1313, Mr. Sur...|  male|27.0|    0|    0|        PC 17760|13.429447862759872| NULL|       S|         0|
|       1314|       0|     3|Name1314, Mr. Sur...|  male|32.0|    0|    0|          364512| 4.840769450167068|  E33|       C|         0|
|       1315|       1|     3|Name1315, Master....|female| 0.0|    0|    0|           29750|14.805817148933464| NULL|       S|         0|
|       1316|       0|     1|Name1316, Mr. Sur...|  male|NULL|    0|    0|      C.A. 24579|   115.80634419925| NULL|       C|         0|
|       1317|       1|     2|Name1317, Miss. S...|female|28.0|    0|    1|          113781|27.950047997073444| NULL|       S|         1|
|       1318|       0|     1|Name1318, Mr. Sur...|  male|NULL|    0|    0|          250652|29.467202626662697| NULL|       S|         0|
|       1319|       0|     2|Name1319, Mr. Sur...|  male|32.0|    0|    0|           17464|               0.0| NULL|       S|         0|
|       1320|       1|     3|Name1320, Miss. S...|female|23.0|    1|    0|            7534|20.822545765670117| NULL|       S|         1|
|       1321|       0|     3|Name1321, Mr. Sur...|  male|NULL|    0|    0|            2689|  4.79782744017412| NULL|       C|         0|
|       1322|       1|     3|Name1322, Miss. S...|female|NULL|    1|    0|     S.O./P.P. 3|12.462809150380991| NULL|       S|         1|
|       1323|       1|     1|Name1323, Mr. Sur...|  male|52.0|    0|    0|      A.5. 18509| 36.84335154107275|  E25|       S|         0|
|       1324|       0|     3|Name1324, Mr. Sur...|  male|46.0|    0|    0|          239854|               0.0| NULL|       S|         0|
|       1325|       0|     3|Name1325, Mr. Sur...|  male|29.0|    0|    0|          248727|12.274214426395227| NULL|       S|         0|
|       1326|       0|     3|Name1326, Mr. Sur...|  male|41.0|    0|    0|            2694|13.845328222553944| NULL|       S|         0|
|       1327|       1|     2|Name1327, Master....|female| 4.0|    0|    2|      A/5. 10482| 26.71240152233816| NULL|       S|         2|
|       1328|       0|     3|Name1328, Mr. Sur...|  male|27.0|    0|    0|      C.A. 34651|17.263996279241812| NULL|       S|         0|
|       1329|       0|     3|Name1329, Mr. Sur...|  male|NULL|    1|    1|          315082| 20.56614114030044| NULL|       S|         2|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+----------+
only showing top 20 rows

In [13]:
df.printSchema() # Можно заметить, что схема исходного источника данных осталась без изменений
# т.е df.withColumn("FamilySize", df.Parch + df.SibSp) также создает новый DataFrame

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [14]:
df = df.withColumn("FamilySize", df.Parch + df.SibSp)

In [15]:
df.printSchema() # Можно заметить появление FamilySize

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- FamilySize: integer (nullable = true)

In [17]:
# Можно заметить, как стало стал отличаться физический план
df.explain()

== Physical Plan ==
*(1) Project [PassengerId#17, Survived#18, Pclass#19, Name#20, Sex#21, Age#22, SibSp#23, Parch#24, Ticket#25, Fare#26, Cabin#27, Embarked#28, (Parch#24 + SibSp#23) AS FamilySize#121]
+- FileScan csv [PassengerId#17,Survived#18,Pclass#19,Name#20,Sex#21,Age#22,SibSp#23,Parch#24,Ticket#25,Fare#26,Cabin#27,Embarked#28] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/c:/dev/mlRes/BigDataTech/seminars/sem_1/data/huge_1M_titanic.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<PassengerId:int,Survived:int,Pclass:int,Name:string,Sex:string,Age:double,SibSp:int,Parch:...

In [18]:
df.show(2)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|              Fare|Cabin|Embarked|FamilySize|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+----------+
|       1310|       1|     1|Name1310, Miss. S...|female|NULL|    0|    0|SOTON/O2 3101272| 76.76016504643573| NULL|       C|         0|
|       1311|       0|     3|Name1311, Col. Su...|  male|29.0|    0|    0|          223596|10.193096706320182| NULL|       S|         0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+----------+
only showing top 2 rows

## Способы записи (сохранение DataFrame)

Позволяет записать полученный DataFrame в любой из поддерживаемых форматов файлов. Подробней: [тут](https://spark.apache.org/docs/latest/api/python/getting_started/quickstart_df.html#Getting-Data-In/Out)

## Группировка и агрегация

In [5]:
# Схоже с pandas, только отличе в том, что данные не хранятся все в памяти

# Определить количество людей в каждом из классов
result_gr_1 = df.groupby(df.Pclass).agg(
    F.count(df.PassengerId)
)

# Также строит план вычислений
print(result_gr_1)

DataFrame[Pclass: string, count(PassengerId): bigint]

In [7]:
# Вычислить
%time result_gr_1.show()

+------+------------------+
|Pclass|count(PassengerId)|
+------+------------------+
|     3|            553319|
|     1|            242069|
|     2|            204612|
+------+------------------+

CPU times: total: 15.6 ms
Wall time: 1.01 s

In [105]:
# Тоже строится план, а не сразу вычисляется
df.groupby(df.Pclass).count()

DataFrame[Pclass: int, count: bigint]

In [110]:
df.groupby(df.Pclass).count().show()
# df.groupby(df.Pclass).avg("PassengerId").show()

+------+------+
|Pclass| count|
+------+------+
|     1|242069|
|     3|553319|
|     2|204612|
+------+------+

In [112]:
# Можно выполнять группировку по нескольким столбцам

df.groupby(df.Pclass, df.Survived).count().show()

+------+--------+------+
|Pclass|Survived| count|
+------+--------+------+
|     1|       0| 90668|
|     3|       1|132666|
|     1|       1|151401|
|     2|       1| 97614|
|     2|       0|106998|
|     3|       0|420653|
+------+--------+------+

In [8]:
# Поддержка нескольких функций агрегации. Также можно установить псевдонимы
df.groupBy(df.Pclass, df.Survived).agg(
    F.avg(df.Age).alias("mean_age"),
    F.count(df.PassengerId).alias("psngr_count")
).show()

+------+--------+------------------+-----------+
|Pclass|Survived|          mean_age|psngr_count|
+------+--------+------------------+-----------+
|     1|       1| 34.14365493120401|     151401|
|     2|       0| 32.45753543095491|     106998|
|     3|       1|23.244919110926855|     132666|
|     3|       0|  27.0155267639002|     420653|
|     2|       1| 26.09276820107242|      97614|
|     1|       0|40.196781121788696|      90668|
+------+--------+------------------+-----------+

### Сортировка: `.orderBy()`

Одна из самых затратных операций

In [12]:
# Можно, например, отсортировать финальный результат, группировки или какой-либо выборки, фильтрации

# Без сортировки
%time df.filter(df.Survived==1).groupby(df.Pclass).agg(F.count(df.PassengerId).alias("passanger_count"), F.mean(df.Age).alias("mean_age")).show()

# С сортировкой
%time df.filter(df.Survived==1).groupby(df.Pclass).agg(F.count(df.PassengerId).alias("passanger_count"), F.mean(df.Age).alias("mean_age")).orderBy("passanger_count").show()

+------+---------------+------------------+
|Pclass|passanger_count|          mean_age|
+------+---------------+------------------+
|     1|         151401| 34.14365493120401|
|     2|          97614| 26.09276820107242|
|     3|         132666|23.244919110926855|
+------+---------------+------------------+

CPU times: total: 0 ns
Wall time: 465 ms
+------+---------------+------------------+
|Pclass|passanger_count|          mean_age|
+------+---------------+------------------+
|     2|          97614| 26.09276820107242|
|     3|         132666|23.244919110926855|
|     1|         151401| 34.14365493120401|
+------+---------------+------------------+

CPU times: total: 15.6 ms
Wall time: 446 ms

In [15]:
# Например, сколько времени было затрачено на выполнение сортировки
%time df.orderBy(df.Fare).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------+----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+----+-----+--------+
|     962962|       0|     2|Name962962, Mr. S...|  male|51.0|    0|    0|     13502| 0.0|  C78|       S|
|       1718|       1|     1|Name1718, Miss. S...|female|23.0|    0|    0|A.5. 18509| 0.0| C148|       C|
|     788890|       0|     2|Name788890, Mr. S...|  male|40.0|    0|    0|    113784| 0.0| NULL|       S|
|       2038|       0|     2|Name2038, Mr. Sur...|  male|27.0|    0|    0|     13568| 0.0|  C87|       S|
|     266498|       0|     3|Name266498, Miss....|female|15.0|    1|    0|    349909| 0.0| NULL|       S|
|       1719|       0|     3|Name1719, Mr. Sur...|  male|NULL|    0|    0|    234686| 0.0| NULL|       S|
|     788885|       0|     1|Name788885, Mr. S...|  male|68.0|    0|    0|    347088| 0.0|  D11|       S|
|       1683|       0|     2|Name1683, Mr. Sur...|  male|45.0|    0|    0|    349257| 0.0| NULL|       S|
|     353422|       1|     1|Name353422, Mr. S...|  male|23.0|    1|    0|  PC 17757| 0.0|  B78|       S|
|       1324|       0|     3|Name1324, Mr. Sur...|  male|46.0|    0|    0|    239854| 0.0| NULL|       S|
|     788904|       1|     3|Name788904, Major...|  male| 4.0|    0|    0|    243880| 0.0| NULL|       C|
|       2032|       1|     3|Name2032, Mr. Sur...|  male|41.0|    0|    0|    234818| 0.0| NULL|       S|
|     266662|       0|     3|Name266662, Mr. S...|  male|39.0|    0|    0|    113794| 0.0| NULL|       S|
|       1752|       1|     3|Name1752, Mr. Sur...|  male|NULL|    0|    0|    349237| 0.0| NULL|       S|
|     788620|       1|     3|Name788620, Mr. S...|  male|NULL|    0|    0|     27267| 0.0| NULL|       C|
|       1345|       1|     1|Name1345, Miss. S...|female|NULL|    0|    0|      5727| 0.0| NULL|       C|
|     527638|       1|     1|Name527638, Mr. S...|  male| 3.0|    0|    1|    349218| 0.0|  A36|       C|
|       1785|       0|     1|Name1785, Mr. Sur...|  male|NULL|    0|    0|  A/5. 851| 0.0| NULL|       C|
|     788639|       0|     1|Name788639, Maste...|female| 5.0|    1|    2|    315153| 0.0| NULL|       S|
|       1457|       1|     3|Name1457, Mr. Sur...|  male|22.0|    0|    0|    110413| 0.0| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+----+-----+--------+
only showing top 20 rows

CPU times: total: 0 ns
Wall time: 491 ms

In [20]:
%time df.sort(df.Fare).show()

+-----------+--------+------+--------------------+------+----+-----+-----+------------------+----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|            Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+------------------+----+-----+--------+
|     963134|       0|     2|Name963134, Mr. S...|  male|55.0|    0|    0|            347077| 0.0| NULL|       S|
|     440547|       1|     1|Name440547, Miss....|female|66.0|    0|    1|              3460| 0.0| NULL|       C|
|       1665|       1|     3|Name1665, Miss. S...|female|34.0|    1|    1|            349225| 0.0| NULL|       S|
|     440700|       1|     1|Name440700, Mr. S...|  male|27.0|    1|    0|SOTON/O.Q. 3101305| 0.0|  C49|       C|
|     527618|       0|     2|Name527618, Mr. S...|  male|34.0|    0|    0|            315093| 0.0| NULL|       S|
|     440515|       0|     1|Name440515, Mr. S...|  male|33.0|    0|    0|         A/5 21174| 0.0| E121|       S|
|       1955|       1|     3|Name1955, Mr. Sur...|  male|20.0|    0|    0|            250649| 0.0| NULL|       C|
|     440670|       1|     3|Name440670, Mr. S...|  male|37.0|    0|    0|             29751| 0.0|  B49|       S|
|      92197|       1|     1|Name92197, Mr. Su...|  male|47.0|    0|    0|            336439| 0.0| NULL|       C|
|     440360|       0|     2|Name440360, Mr. S...|  male|36.0|    0|    0|            C 7075| 0.0| NULL|       S|
|       1517|       1|     1|Name1517, Mrs. Su...|female|NULL|    1|    1|     S.O./P.P. 751| 0.0| NULL|       C|
|     440419|       0|     1|Name440419, Mr. S...|  male|62.0|    1|    1|            349208| 0.0|  D37|       C|
|     527787|       0|     2|Name527787, Mr. S...|  male|40.0|    0|    0|            349210| 0.0|  D48|       S|
|     440352|       1|     1|Name440352, Miss....|female|35.0|    0|    0|            367226| 0.0| NULL|       C|
|       1949|       0|     2|Name1949, Mr. Sur...|  male|50.0|    0|    0|            386525| 0.0| NULL|       S|
|     440438|       0|     1|Name440438, Mr. S...|  male|62.0|    0|    0|            365222| 0.0| NULL|       C|
|     788793|       1|     3|Name788793, Miss....|female|NULL|    1|    1|            350404| 0.0| NULL|       S|
|     440382|       0|     1|Name440382, Mr. S...|  male|63.0|    0|    0|              2649| 0.0| NULL|       S|
|       1683|       0|     2|Name1683, Mr. Sur...|  male|45.0|    0|    0|            349257| 0.0| NULL|       S|
|     440580|       0|     3|Name440580, Mr. S...|  male| 5.0|    5|    2|            349245| 0.0| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+------------------+----+-----+--------+
only showing top 20 rows

CPU times: total: 0 ns
Wall time: 540 ms

## Оконные функции

be later ...

## SQL 

Spark поддерживает работу с SQL, можно писать запросы на привычном SQL, как при работе с базой данных

In [5]:
# Необходимо зарегистрировать df как таблицу (дать имя, например: tableOne)
df.createOrReplaceTempView("tableOne")

In [10]:
# Также строится план вычислений
calculate_plan_sql = spark.sql("SELECT * FROM tableOne")

In [ ]:
calculate_plan_sql.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|              Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+
|       1310|       1|     1|Name1310, Miss. S...|female|NULL|    0|    0|SOTON/O2 3101272| 76.76016504643573| NULL|       C|
|       1311|       0|     3|Name1311, Col. Su...|  male|29.0|    0|    0|          223596|10.193096706320182| NULL|       S|
|       1312|       0|     3|Name1312, Mr. Sur...|  male|20.0|    0|    0|           54636| 12.02941641147422|  C83|       C|
|       1313|       0|     3|Name1313, Mr. Sur...|  male|27.0|    0|    0|        PC 17760|13.429447862759872| NULL|       S|
|       1314|       0|     3|Name1314, Mr. Sur...|  male|32.0|    0|    0|          364512| 4.840769450167068|  E33|       C|
|       1315|       1|     3|Name1315, Master....|female| 0.0|    0|    0|           29750|14.805817148933464| NULL|       S|
|       1316|       0|     1|Name1316, Mr. Sur...|  male|NULL|    0|    0|      C.A. 24579|   115.80634419925| NULL|       C|
|       1317|       1|     2|Name1317, Miss. S...|female|28.0|    0|    1|          113781|27.950047997073444| NULL|       S|
|       1318|       0|     1|Name1318, Mr. Sur...|  male|NULL|    0|    0|          250652|29.467202626662697| NULL|       S|
|       1319|       0|     2|Name1319, Mr. Sur...|  male|32.0|    0|    0|           17464|               0.0| NULL|       S|
|       1320|       1|     3|Name1320, Miss. S...|female|23.0|    1|    0|            7534|20.822545765670117| NULL|       S|
|       1321|       0|     3|Name1321, Mr. Sur...|  male|NULL|    0|    0|            2689|  4.79782744017412| NULL|       C|
|       1322|       1|     3|Name1322, Miss. S...|female|NULL|    1|    0|     S.O./P.P. 3|12.462809150380991| NULL|       S|
|       1323|       1|     1|Name1323, Mr. Sur...|  male|52.0|    0|    0|      A.5. 18509| 36.84335154107275|  E25|       S|
|       1324|       0|     3|Name1324, Mr. Sur...|  male|46.0|    0|    0|          239854|               0.0| NULL|       S|
|       1325|       0|     3|Name1325, Mr. Sur...|  male|29.0|    0|    0|          248727|12.274214426395227| NULL|       S|
|       1326|       0|     3|Name1326, Mr. Sur...|  male|41.0|    0|    0|            2694|13.845328222553944| NULL|       S|
|       1327|       1|     2|Name1327, Master....|female| 4.0|    0|    2|      A/5. 10482| 26.71240152233816| NULL|       S|
|       1328|       0|     3|Name1328, Mr. Sur...|  male|27.0|    0|    0|      C.A. 34651|17.263996279241812| NULL|       S|
|       1329|       0|     3|Name1329, Mr. Sur...|  male|NULL|    1|    1|          315082| 20.56614114030044| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------------------+-----+--------+
only showing top 20 rows

:

In [ ]:
spark.sql("SELECT Pclass, COUNT(PassengerId) as count_pssng FROM tableOne GROUP BY Pclass ORDER BY count_pssng")

Py4JJavaError: An error occurred while calling o23.sql.
: java.lang.RuntimeException: java.io.FileNotFoundException: java.io.FileNotFoundException: HADOOP_HOME and hadoop.home.dir are unset. -see https://wiki.apache.org/hadoop/WindowsProblems
	at org.apache.hadoop.util.Shell.getWinUtilsPath(Shell.java:735)
	at org.apache.hadoop.util.Shell.getSetPermissionCommand(Shell.java:270)
	at org.apache.hadoop.util.Shell.getSetPermissionCommand(Shell.java:286)
	at org.apache.hadoop.fs.RawLocalFileSystem.setPermission(RawLocalFileSystem.java:978)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkOneDirWithMode(RawLocalFileSystem.java:660)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirsWithOptionalPermission(RawLocalFileSystem.java:700)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirs(RawLocalFileSystem.java:672)
	at org.apache.hadoop.fs.ChecksumFileSystem.mkdirs(ChecksumFileSystem.java:788)
	at org.apache.spark.sql.catalyst.catalog.InMemoryCatalog.liftedTree1$1(InMemoryCatalog.scala:122)
	at org.apache.spark.sql.catalyst.catalog.InMemoryCatalog.createDatabase(InMemoryCatalog.scala:119)
	at org.apache.spark.sql.internal.SharedState.externalCatalog$lzycompute(SharedState.scala:159)
	at org.apache.spark.sql.internal.SharedState.externalCatalog(SharedState.scala:140)
	at org.apache.spark.sql.internal.BaseSessionStateBuilder.$anonfun$catalog$1(BaseSessionStateBuilder.scala:154)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.externalCatalog$lzycompute(SessionCatalog.scala:123)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.externalCatalog(SessionCatalog.scala:123)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.databaseExists(SessionCatalog.scala:321)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.requireDbExists(SessionCatalog.scala:251)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.getTableRawMetadata(SessionCatalog.scala:546)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.getTableMetadata(SessionCatalog.scala:532)
	at org.apache.spark.sql.execution.datasources.v2.V2SessionCatalog.loadTable(V2SessionCatalog.scala:75)
	at org.apache.spark.sql.connector.catalog.CatalogV2Util$.getTable(CatalogV2Util.scala:363)
	at org.apache.spark.sql.connector.catalog.CatalogV2Util$.loadTable(CatalogV2Util.scala:337)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.$anonfun$resolveRelation$5(Analyzer.scala:1315)
	at scala.Option.orElse(Option.scala:447)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.$anonfun$resolveRelation$1(Analyzer.scala:1311)
	at scala.Option.orElse(Option.scala:447)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.org$apache$spark$sql$catalyst$analysis$Analyzer$ResolveRelations$$resolveRelation(Analyzer.scala:1296)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$$anonfun$apply$14.applyOrElse(Analyzer.scala:1153)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$$anonfun$apply$14.applyOrElse(Analyzer.scala:1117)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$3(AnalysisHelper.scala:138)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$1(AnalysisHelper.scala:138)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.allowInvokingTransformsInAnalyzer(AnalysisHelper.scala:323)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning(AnalysisHelper.scala:134)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning$(AnalysisHelper.scala:130)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperatorsUpWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$2(AnalysisHelper.scala:135)
	at org.apache.spark.sql.catalyst.trees.UnaryLike.mapChildren(TreeNode.scala:1216)
	at org.apache.spark.sql.catalyst.trees.UnaryLike.mapChildren$(TreeNode.scala:1215)
	at org.apache.spark.sql.catalyst.plans.logical.Aggregate.mapChildren(basicLogicalOperators.scala:1151)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$1(AnalysisHelper.scala:135)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.allowInvokingTransformsInAnalyzer(AnalysisHelper.scala:323)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning(AnalysisHelper.scala:134)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning$(AnalysisHelper.scala:130)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperatorsUpWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$2(AnalysisHelper.scala:135)
	at org.apache.spark.sql.catalyst.trees.UnaryLike.mapChildren(TreeNode.scala:1216)
	at org.apache.spark.sql.catalyst.trees.UnaryLike.mapChildren$(TreeNode.scala:1215)
	at org.apache.spark.sql.catalyst.plans.logical.Sort.mapChildren(basicLogicalOperators.scala:920)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$1(AnalysisHelper.scala:135)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.allowInvokingTransformsInAnalyzer(AnalysisHelper.scala:323)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning(AnalysisHelper.scala:134)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning$(AnalysisHelper.scala:130)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperatorsUpWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.apply(Analyzer.scala:1117)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.apply(Analyzer.scala:1076)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$2(RuleExecutor.scala:222)
	at scala.collection.LinearSeqOptimized.foldLeft(LinearSeqOptimized.scala:126)
	at scala.collection.LinearSeqOptimized.foldLeft$(LinearSeqOptimized.scala:122)
	at scala.collection.immutable.List.foldLeft(List.scala:91)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$1(RuleExecutor.scala:219)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$1$adapted(RuleExecutor.scala:211)
	at scala.collection.immutable.List.foreach(List.scala:431)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.execute(RuleExecutor.scala:211)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.org$apache$spark$sql$catalyst$analysis$Analyzer$$executeSameContext(Analyzer.scala:240)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$execute$1(Analyzer.scala:236)
	at org.apache.spark.sql.catalyst.analysis.AnalysisContext$.withNewAnalysisContext(Analyzer.scala:187)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.execute(Analyzer.scala:236)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.execute(Analyzer.scala:202)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$executeAndTrack$1(RuleExecutor.scala:182)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.executeAndTrack(RuleExecutor.scala:182)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:223)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:330)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:222)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$analyzed$1(QueryExecution.scala:77)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:138)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:219)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:546)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:219)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:218)
	at org.apache.spark.sql.execution.QueryExecution.analyzed$lzycompute(QueryExecution.scala:77)
	at org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:74)
	at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:66)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:99)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:97)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$1(SparkSession.scala:638)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:629)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:659)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:842)
Caused by: java.io.FileNotFoundException: java.io.FileNotFoundException: HADOOP_HOME and hadoop.home.dir are unset. -see https://wiki.apache.org/hadoop/WindowsProblems
	at org.apache.hadoop.util.Shell.fileNotFoundException(Shell.java:547)
	at org.apache.hadoop.util.Shell.getHadoopHomeDir(Shell.java:568)
	at org.apache.hadoop.util.Shell.getQualifiedBin(Shell.java:591)
	at org.apache.hadoop.util.Shell.<clinit>(Shell.java:688)
	at org.apache.hadoop.util.StringUtils.<clinit>(StringUtils.java:79)
	at org.apache.hadoop.conf.Configuration.getTimeDurationHelper(Configuration.java:1907)
	at org.apache.hadoop.conf.Configuration.getTimeDuration(Configuration.java:1867)
	at org.apache.hadoop.conf.Configuration.getTimeDuration(Configuration.java:1840)
	at org.apache.hadoop.util.ShutdownHookManager.getShutdownTimeout(ShutdownHookManager.java:183)
	at org.apache.hadoop.util.ShutdownHookManager$HookEntry.<init>(ShutdownHookManager.java:207)
	at org.apache.hadoop.util.ShutdownHookManager.addShutdownHook(ShutdownHookManager.java:304)
	at org.apache.spark.util.SparkShutdownHookManager.install(ShutdownHookManager.scala:181)
	at org.apache.spark.util.ShutdownHookManager$.shutdownHooks$lzycompute(ShutdownHookManager.scala:50)
	at org.apache.spark.util.ShutdownHookManager$.shutdownHooks(ShutdownHookManager.scala:48)
	at org.apache.spark.util.ShutdownHookManager$.addShutdownHook(ShutdownHookManager.scala:153)
	at org.apache.spark.util.ShutdownHookManager$.<init>(ShutdownHookManager.scala:58)
	at org.apache.spark.util.ShutdownHookManager$.<clinit>(ShutdownHookManager.scala)
	at org.apache.spark.util.Utils$.createTempDir(Utils.scala:242)
	at org.apache.spark.util.SparkFileUtils.createTempDir(SparkFileUtils.scala:103)
	at org.apache.spark.util.SparkFileUtils.createTempDir$(SparkFileUtils.scala:102)
	at org.apache.spark.util.Utils$.createTempDir(Utils.scala:94)
	at org.apache.spark.deploy.SparkSubmit.prepareSubmitEnvironment(SparkSubmit.scala:372)
	at org.apache.spark.deploy.SparkSubmit.org$apache$spark$deploy$SparkSubmit$$runMain(SparkSubmit.scala:964)
	at org.apache.spark.deploy.SparkSubmit.doRunMain$1(SparkSubmit.scala:194)
	at org.apache.spark.deploy.SparkSubmit.submit(SparkSubmit.scala:217)
	at org.apache.spark.deploy.SparkSubmit.doSubmit(SparkSubmit.scala:91)
	at org.apache.spark.deploy.SparkSubmit$$anon$2.doSubmit(SparkSubmit.scala:1120)
	at org.apache.spark.deploy.SparkSubmit$.main(SparkSubmit.scala:1129)
	at org.apache.spark.deploy.SparkSubmit.main(SparkSubmit.scala)
Caused by: java.io.FileNotFoundException: HADOOP_HOME and hadoop.home.dir are unset.
	at org.apache.hadoop.util.Shell.checkHadoopHomeInner(Shell.java:467)
	at org.apache.hadoop.util.Shell.checkHadoopHome(Shell.java:438)
	at org.apache.hadoop.util.Shell.<clinit>(Shell.java:515)
	... 25 more

:

In [8]:
spark.sql("SELECT PassengerId, Name, Fare FROM tableOne").show()

+-----------+--------------------+------------------+
|PassengerId|                Name|              Fare|
+-----------+--------------------+------------------+
|       1310|Name1310, Miss. S...| 76.76016504643573|
|       1311|Name1311, Col. Su...|10.193096706320182|
|       1312|Name1312, Mr. Sur...| 12.02941641147422|
|       1313|Name1313, Mr. Sur...|13.429447862759872|
|       1314|Name1314, Mr. Sur...| 4.840769450167068|
|       1315|Name1315, Master....|14.805817148933464|
|       1316|Name1316, Mr. Sur...|   115.80634419925|
|       1317|Name1317, Miss. S...|27.950047997073444|
|       1318|Name1318, Mr. Sur...|29.467202626662697|
|       1319|Name1319, Mr. Sur...|               0.0|
|       1320|Name1320, Miss. S...|20.822545765670117|
|       1321|Name1321, Mr. Sur...|  4.79782744017412|
|       1322|Name1322, Miss. S...|12.462809150380991|
|       1323|Name1323, Mr. Sur...| 36.84335154107275|
|       1324|Name1324, Mr. Sur...|               0.0|
|       1325|Name1325, Mr. Sur...|12.274214426395227|
|       1326|Name1326, Mr. Sur...|13.845328222553944|
|       1327|Name1327, Master....| 26.71240152233816|
|       1328|Name1328, Mr. Sur...|17.263996279241812|
|       1329|Name1329, Mr. Sur...| 20.56614114030044|
+-----------+--------------------+------------------+
only showing top 20 rows